
.leaders-container .row{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.personCard{
  width: 250px;
}
.personCard .pics{
  aspect-ratio: 16/9;
  width: 50%;
  height: 175px;
}

body{
  overflow-x: hidden;
}
.col{
  display: flex;
}