.img{
  height: 100% !important;
  width: 100% !important;
}
img{
  aspect-ratio: 4/3;
  image-rendering: optimizeSpeed;
  max-height: 400px;
  object-fit: contain;
}
.img1{
  height: 100% !important;
  width: 100% !important;
}
.page-navbar .nav-navbar .nav-link img {
  width: calc(70px + (45 - 25) * ((100vw - 300px) / (1300 - 300)));
  display: block;
  margin: 0 auto;
  
}